.main-content {
  width: 100%;
}
.main-text {
  top: 25vh;
}
#custom-brand.custom-navbar-brand {
  font-size: 5vmin;
  position: absolute;
  top: 15px;
  left: 20px;
  color: #89949c;
}
#custom-brand.custom-navbar-brand:hover {
  color: #00cccb;
}
.custom-navbar-brand {
  font-family: 'Cookie', cursive;
}
#greeting,
#role {
  text-shadow: 8px 8px 5px #000;
}
#services h5 {
  text-align: center;
  font-size: 1.2em;
}
.flexnotes-img {
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}
.flexnotes-container {
  display: flex;
  align-items: center;
}
.push-down {
  margin-top: 0;
}
#services svg {
  display: block;
  margin: 0 1.5vmin;
}
.img-responsive {
  margin: 0 auto;
}
.project-image {
  margin-bottom: 3vh;
}
.cancelFloat {
  float: none;
}
#home {
  background: url('../images/cityscape.jpeg');
  background-size: cover;
}
.opacity-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.4;
}
#home #greeting,
#home #role {
  color: #fff;
}
.about-text {
  line-height: 1.6em;
  text-align: left;
  text-indent: 6%;
}
#site-nav {
  transition: 0.2s;
}
.project-links {
  white-space: nowrap;
}
@media (max-width: 375px) and (orientation: portrait) {
  .landscape-mobile {
    text-align: left;
  }
}
@media (max-height: 380px) and (orientation: landscape) {
  #services h5 {
    font-size: 0.7em;
  }
  .landscape-mobile {
    text-align: left;
    margin: 0 auto;
    width: 60%;
  }
}
